@import url('https://fonts.googleapis.com/css2?family=Borel&family=Gabarito&family=Open+Sans:wght@400;700&family=Poppins&family=Roboto:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Borel&family=Gabarito&family=Open+Sans:wght@400;700&family=Poppins&family=Roboto:wght@300&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Gabarito&family=Open+Sans:wght@400;700&family=Poppins&family=Roboto:wght@300&family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;